<div ng-controller="booking_controller as BC">
	<div class = 'logo'><img src = 'static/img/logo.png'></div>
	<a href = '#' class='top-buttons'>Log in</a>
	<a href = '#' class='top-buttons'>Sign Up</a>
	<div class = 'header'><p>Experience the Experience.</p></div>
	<div class = 'middle'>
		<span class = 'arrow_left'><</span>
		<div class = 'img-container borders'>
			<img src = 'static/img/future.jpg'>
			<p class = 'absolute-text'>Avoid surge pricing.</p>
			<div class= 'test'>
				<a href = '#' class = 'absolute-link'>View Concert Promotions</a>
			</div>
		</div>
		<div class = 'img-container'>
			<img src = 'static/img/dallas.jpg'>
			<p class = 'absolute-text'>Enjoy Free Wi-Fi Intercity Trips.</p>
			<div class= 'test'>
				<a href = '#' class = 'absolute-link'>View Intercity Promotions</a>
			</div>
		</div>
		<div class = 'img-container'>
			<img class = 'plane' src = 'static/img/plane.jpg'>
			<p class = 'absolute-text'>Don't wait to be picked up from the airport.</p>
			<div class= 'test'>
				<a href = '#' class = 'absolute-link'>View Airport Promotions</a>
			</div>
		</div>
		<span class = 'arrow_right'>></span>
	</div>
	<div class = 'bottom'>
		<p>Schedule your ride and we'll take care of the rest</p>
		<div class = 'schedule'>
			<button class = 'btn-default' ng-click='show = 1'>Pick up location?</button>
			<button class = 'btn-default' ng-click = 'show = 2'>Destination</button>
			<button class = 'btn-default' ng-click = 'show = 3'>Date</button>
			<button class = 'btn-default' ng-click = 'show = 4'>Time</button>
			<form name = 'frm' class = 'form-inline'>
				<div class = 'form-group' ng-show='show==1'>
					<input name = 'origin' class = 'form-control' type = 'text' placeholder = 'Address' ng-model=BC.newBooking.origin required googleplace>
					<!-- <span ng-show="frm.origin.$invalid">*</span> -->
				</div>
				<div class = 'form-group' ng-show='show==2'>
					<input class = 'form-control' type = 'text' placeholder = 'Destination' ng-model= BC.newBooking.destination required googleplace>
				</div>
				<div class = 'form-group' ng-show='show==3'>
					<datepicker id = 'datepicker' class = '._720kb-datepicker-today' date-format="mediumDate" date-min-limit='{{date | date: "yyyy-MM-dd"}}' >
					<input class = 'form-control' type = 'text' ng-model='BC.newBooking.date' placeholder="Choose a date" required>
					</datepicker>
				</div>
				<div class = 'form-group' ng-show='show==4'>
					<input data-format='hh:mm:ss' class = 'form-control'  type = 'time' ng-model = 'BC.newBooking.time' placeholder = '{{ today | date: "h:mm a"}}' required>
				</div>
			</form>
		</div>
		<div class = 'book' >
			<button class = 'btn-default' ng-disabled = 'frm.$invalid' ng-click= 'book(BC.newBooking)'>Book</button>
		</div>
	</div>
</div>