<div style ="text-align: center" ng-controller="booking_controller as BC">
	<div class = 'logo'><img src = 'static/img/logo.png'></div>
	<div class = 'header'>
		
	<!-- 	<div class = 'top-buttons-ctnr'>
			<a href = '#'>Sign Up</a>
			<a href = '#'>Log in</a>
		</div> -->
	</div>
	<div class = 'heading'>
		<h3>Review your Booking</h3>
	</div>
	<div class = 'booking-confirmation'>
		<div class = 'margin-div'>
			<div class = 'confirm'>
				<p class = 'confirm-type'>Pick Up</p>
				<p class = 'confirm-desc'>{{confirms[0].origin}}</p>
			</div>
			<div class = 'confirm date-price'>
				<p class = 'confirm-desc'>{{confirms[0].date}}</p>
				<span>......................</span>
			</div>
			<div class = 'confirm'>
				<p class = 'confirm-type'>Destination</p>
				<p class = 'confirm-desc'>{{confirms[0].destination}}</p>
			</div>
			<div class = 'confirm'>
				<p class = 'confirm-type'>Pick Up Time</p>
				<p class = 'confirm-desc'>{{confirms[0].time}}</p>
			</div>
			<div class = 'confirm date-price'>
				<p class = 'confirm-type'>Price</p>
				<p class = 'confirm-desc'>$45</p>
				<p class = 'confirm-desc'>{{confirms[0].price}}</p>
			</div>
			<div class = 'confirm'>
				<p class = 'confirm-type'>Estimated Arrival</p>
				<p class = 'confirm-desc'>3:55 p.m.</p>
				<p class = 'confirm-desc'>{{confirms[0].arrival}}</p>
			</div>
		</div>
		<form stripe-form='stripeCallback'>
			<input type = 'text' ng-model='number' payments-format= 'card' payments-validate='card'/>
			<input type="text" ng-model="expiry" payments-validate="expiry" />
			<input type="text" ng-model="cvc" payments-validate="cvc" />
		</form>
		<a style= "margin-left:20px; position: absolute;" href = '#'>< Go Back</a>
		<!-- <form stripe-form="stripeCallback">
			<input ng-model="number" placeholder="Card Number" payments-format="card" />
			<input ng-model="expiry" placeholder="Expiration" payments-format="expiry" />
			<input ng-model="cvc" placeholder="CVC" payments-format="cvc" />
			<button type="submit">Submit</button>
		</form> -->
		
		
		<!-- <div ng-repeat = 'confirm in confirms' >
			<p>Pick Up Location: {{confirm.origin}}</p>
	    	<p>Destination: {{confirm.destination}}</p>
	    	<p>Date: {{confirm.date}}</p>
	    	<p>Time: <time>{{confirm.time | date: "h:mm a"}}</time></p>
	    </div> -->
    </div>

</div>

