<div>
    <div class="main-panel">
        <h1>Krew.</h1>
        <h2>Book a long-distance trip for a hyper-affordable price.</h2>
    </div>
    <div class="container">
        <form class="booking-form" [formGroup]="bookingForm" (ngSubmit)="book()">
            <div class="col-md-3">
                <div class="input-field form-group">
                    <input id="origin-entry" class="form-control" type="text" formControlName="origin" placeholder="Origin"/> 
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-field form-group">
                    <input id="destination-entry" class="form-control" type="text" formControlName="destination" placeholder="Destination"/> 
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-field form-group">
                    <input id="date-entry" class="form-control" type="text" formControlName="date" placeholder="Date"/> 
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-field form-group">
                    <input id="time-entry" class="form-control" type="text" formControlName="time" placeholder="Time"/> 
                </div>
            </div>
            <button class="btn btn-success" type="submit" [routerLink]="['/confirm']" [queryParams]="bookingForm.value">Book</button>
        </form>
    </div>
</div>