.main-panel {
    padding-bottom: 10em;
    width: 100%;
    text-align: center;
    padding-top: 5em;
    background: -webkit-linear-gradient(top, #fca0a3 0%,#eeeeee 100%);
}

h1 {
    font-size: 10em;
    color: #fb6e73;
}

h2 {
    font-size: 1.8em;
    align-content: center;
    font-weight: lighter;
    color: black;
    text-shadow: none;
}