<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Krew" src="../assets/images/krew_beta_logo.png">
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/profile']">Profile</a>
            <li><p class="navbar-text">Already have an account?</p></li>
            <li class="dropdown" *ngIf="!isAuthenticated()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Login via</strong>
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div>
                                    or
                                    <form class="form" id="login-nav" [formGroup]="loginForm">
										<div class="form-group">
											 <input type="email" class="form-control" formControlName="email" placeholder="Email address">
										</div>
										<div class="form-group">
											 <input type="password" class="form-control" formControlName="password" placeholder="Password">
                                             <div class="help-block text-right"><a href="">Forgot your password?</a></div>
										</div>
										<div class="form-group">
											 <button type="button" class="btn btn-primary btn-block" (click)="login($event)">Sign in</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> Keep me logged in
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a href="#"><b>Join Us</b></a>
							</div>
					 </div>
                        </li>
                    </ul>
            </li>
            <li class="dropdown" *ngIf="isAuthenticated()"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                    <img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" class="img-responsive img-circle" title="John Doe" alt="John Doe" width="30px" height="30px">
                </span>
                <span class="user-name">
                    {{currentUser[0].firstName + " " + currentUser[0].lastName}}
                </span>
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="navbar-content">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" alt="Alternate Text" class="img-responsive" width="120px" height="120px" />
                                    <p class="text-center small">
                                        <a href="./3X6zm">Change Photo</a></p>
                                </div>
                                <div class="col-md-7">
                                    <span>{{currentUser[0].firstName + " " + currentUser[0].lastName}}</span>
                                    <p class="text-muted small">
                                        {{currentUser[0].email}}</p>
                                    <div class="divider">
                                    </div>
                                    <button class="btn btn-default btn-xs" [routerLink]="['/profile', currentUser[0]._id]"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</button>
                                    <a href="#" class="btn btn-default btn-xs"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-footer">
                            <div class="navbar-footer-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-default btn-sm"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-default btn-sm pull-right" (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i> Sign Out</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>