body{
	zoom: 100%;
}
#container {
	color: #4f4f4f;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
	height: 100%;
}
/*

defaults

*/
a{
	text-decoration: none;
	color: #4f4f4f;
	display: inline-block;
}
a:hover, a:focus {
	color: none;
	text-decoration: none;
}
.tab-focus() {
	outline: none;
}
button{
	color: #FCA1A4;
	background-color: white;
	border: solid #FCA1A4 1px;
	height: 40px;
	width: 17vw;
	font-size: 20px;
    font-weight: 300;
	vertical-align: top;
}
p{
	margin: 0;
}

/*top*/
.top-bar{
	border-bottom: solid 1px;
	color: #BDBDBD;
}

.logo{
	height: 40px;
	width: 50px;
	margin: 5px 0px 5px 35px;
}
.top-buttons{
	float:right;
	margin: 5px;
	color: gray;
	top: 25px;
	position: relative;
}

.top {
	height: 10vh;
	display: inline-block;
}
.booking_toggle {
	display: none;
}
/*

Left 

*/
.booking{
	width: 50%;
	height: 100%;
	padding: 3% 3%;
	display: inline-block;
}
.booking-div{
	padding-top: 5%;
	margin: 0;
	height: 60vh;
	display: inline-block;
	overflow: hidden;
}
.booking p{
	font-size: 3.5vw;
	font-weight: 300;
	margin: 0;
}
#krew{
	color: #F1A5A6;
	font-weight: 300;
}
.label{
	font-size: 20px;
    font-weight: 300;
	text-align: left;
	padding: 0;
	height: 15vh;
	display: inline-block;
}
.label input{
	margin: 0 0;
	color: #4f4f4f;
	border: none;
	border-bottom: solid #e5e5e5 1px;
	width: 35vw;
	font-weight: 300;
	outline: none;
	font-size: 	15px;
}

input::-webkit-input-placeholder{
	color: #BDBDBD;	
}
.price{
	margin: -7px 5%;
	color: #6FCF97;
	font-size: 35px;
    font-weight: 500;
	display: inline-block;
}

/*

Right

*/
.nav-form{
	display: none;
}
.right{
	width: 49%;
	height: 100vh;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 3% 0;
	overflow: hidden;
}
.right img{
	width: 100%;
	height: auto;
}
.link{
	width: 100%;
	font-size: 	15px;
	margin-top: 6%;

}
.inside_link{
	border-bottom: 1px solid #e5e5e5;
	display: inline-block;
	vertical-align: sub;

}
.inside_link a{
	margin: 0 25px;
}
.inside_link a:hover {
	border-bottom:solid pink 1px;
}
.right p{
    font-size: 3vw;
    padding: 0 0 0 0;
}
.right p:last-of-type {
    font-size: 2vw;
	margin: -3% 0 5% 0;
	padding: 0;
}
#concert{
	color: #56CCF2;
	font-weight: 400;
}
.right img{
	width: 60%;
	height: 70%;
}

/*

Bottom buttons

*/

.learn{
	margin-top: 0%;
	display: inline-block;
}
.bottom{
	display: inline-block;
	width: 100%;
	height: 20vh;
	padding-top: 5%;
}

._720kb-datepicker-calendar-day._720kb-datepicker-today {
  background:red;
  color:white;
  /*position: absolute;*/
}
._720kb-datepicker-calendar{
	width: 20%;
	text-align: center;
	margin-left: auto;
	

}
#datepicker
{
	/*position: absolute;*/
	float: none;
	text-align: center;
	height: 100vh;
	font-family: 'Lato';

}
.pac-container{
	height: auto;
}
.pac-item {
	height: 10vh;
}

/*

Submit Page

*/
*/
.heading{
	text-align: center;
}
.booking-confirmation{
	/*text-align: center;*/
}
.confirm{
	margin: 20px 0;
	font-size: 2em;
	display: inline-block;
	width: 30%;
}
.confirm-type{
	font-weight: 700;
}
.confirm-desc{
	font-weight: 300;
}
.margin-div {
	margin: 0 auto;
	width: 80%;
}
.date-price{
	text-align: center;
	font-weight: 300;
}
.date-price span{
	height: 8px;
	margin: 0 0;
	font-size: 45px;
}
.confirm-date{
	font-weight: 300;
	margin: -45px 0;
}

/*Stripe*/

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
/*.ng-invalid {
	color: red;
}*/

/*


AutoComplete


*/
.pac-icon{
	display: none;
}
.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}
.pac-matched{
	color: #56CCF2;
}
.pac-item-query{
	color: #56CCF2;
}



/*Responsiveness*/

@media only screen and (max-width: 700px) {
	.booking {
		display: none;
	}
	.right {
		width: 100%;
	}
	.right p {
		font-size: 6vw;
	}
	.right p:last-of-type {
		font-size: 4vw;
	}
	.booking_toggle {
		display: block;
		text-align: center;
	}
	button {
		min-width: 150px;
	}
	.nav-form {
		display: inline-block;
		position: absolute;
		text-align: left;
		z-index: 1;	
		background-color: white;
	}
	.label {
		width: 100%;
	}
	.label input{
		width: 50vw;
	}


}