<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div align="center">
                    <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                </div>
                <div class="media-body">
                    <hr>
                    <h3><strong>Bio</strong></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                    <hr>
                    <h3><strong>Location</strong></h3>
                    <p>Earth</p>
                    <hr>
                    <h3><strong>Gender</strong></h3>
                    <p>Unknown</p>
                    <hr>
                    <h3><strong>Birthday</strong></h3>
                    <p>January 01 1901</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-10 col-md-10">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#rideRequests" data-toggle="tab">Ride Requests</a></li>
                    <li><a href="#driveHistory" data-toggle="tab">Drive History</a></li>
                    <li><a href="#upcomingDrives" data-toggle="tab">Upcoming Drives</a></li>
                </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="rideRequests">
                    <ride-requests></ride-requests>    
                </div>
                <div class="tab-pane fade" id="driveHistory">
                    Drive History
                </div>
                <div class="tab-pane fade" id="upcomingDrives">Upcoming Drives</div>
                <div class="tab-pane fade" id="tab4default">Default 4</div>
                <div class="tab-pane fade" id="tab5default">Default 5</div>
            </div>
        </div>
    </div>
</div>