h1 {
    text-align: left;
}
.form-control{
    background-color: white;
    border: none;
    border-bottom: solid 1px #4f4f4f;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 50px;
    color: #4f4f4f;
}
.profile_pic{
    width: 300px;
    height: 300px;
    background-image: url("/src/img/img1.jpg")
}

p {
    text-align: left;
    margin: 0;
}

form_div{
    text-align: left;
}

#formControlsBackgroundCheck {
    text-align: left;
    color: red;
}