.main-panel {
    padding-bottom: 10em;
    width: 100%;
    text-align: center;
    padding-top: 10em;
}

h1 {
    font-size: 8em;
    color: #fb6e73;
}

h2 {
    font-size: 1.8em;
    align-content: center;
    font-weight: lighter;
    color: black;
    text-shadow: none;
}