.booking-form {
    margin-top: 5em;
}

.help-block {
    margin-left: 1em;
    text-align: left;
}

#price-odometer {
    color: #6FCF97;
    font-size: 4em;
    font-family: 'Lato', 'sans-serif';
}

.has-error.form-control {
    box-shadow: none;
}