<form [formGroup]="paymentForm" (ngSubmit)="onSumbit(paymentForm)">
<div class="col-md-6">
    <div class="form-group">
        <input class="form-control" type="text" formControlName="firstName" placeholder="Your first name">
    </div>
</div>
  <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="text" formControlName="lastName" placeholder="Your last name">
      </div>
  </div>
  <button class="btn btn-primary" [disabled]="!paymentForm.valid" type="submit">Sign up</button>
</form>